#books {
  .books {
    &--title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        color: var(--text-color, #19272E);
        font-size: 48px;
        font-weight: 500;
      }

      h3 {
        color: var(--main-color, #818EEA);
        font-size: 18px;
        font-weight: 500;
      }
    }

    &--block {
      padding: 80px 0;
      overflow-x: scroll;
      display: flex;

      &::-webkit-scrollbar {
        display: none;
      }

      &__book {
        width: 500px;
        margin: 0 10px;
      }

      img {
        width: 200px;
      }

      h2 {
        margin-top: 10px;
        width: 200px;
        color: var(--text-color, #19272E);
        font-size: 18px;
        font-weight: 700;
        line-height: 120%;
      }
      p{
        width: 200px;
        color: var(--text-color, #19272E);
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}


@media (max-width: 567px) {
  #books{
    .books{
      &--title{
        h1{
          font-size: 40px;
        }
      }
      &--block{
        &__book{
          margin: 0;
          img{
            width: 170px;
          }
          h2{
            font-size: 16px;
            width: 170px;
          }
          p{}
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #books{
    .books{
      &--title{
        h1{
          font-size: 40px;
        }
      }
      &--block{
        padding: 50px 0;
        &__book{
          margin: 0;
          img{
            width: 145px;
          }
          h2{
            font-size: 16px;
            width: 155px;
          }
          p{}
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #books{
    .books{
      &--title{
        h1{
          font-size: 40px;
        }
      }
      &--block{
        padding: 50px 0;
        &__book{
          margin: 0;
          img{
            width: 145px;
          }
          h2{
            font-size: 16px;
            width: 155px;
          }
          p{}
        }
      }
    }
  }
}

@media (max-width: 350px) {
}

@media (max-width: 320px) {
}

