#header {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  padding: 3px 0;

  .container {
    .header {
      margin: 40px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--logo {
        display: flex;
        align-items: center;
        justify-content: center;

        .a {
          color: var(--main-color, #818EEA);
          font-size: 20px;
          font-weight: 700;
          letter-spacing: -0.6px;
        }

        &__nav {
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            margin: 0 20px;
            text-decoration: none;
            color: #19272E;
            font-size: 20px;
          }
        }
      }

      &--icons {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          font-size: 18px;
          margin-left: 7px;
          color: black;
        }

        .a-search {
          margin-right: 20px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
  @media (max-width: 1200px) {
    .container {
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .header {
    }
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  #header {
    .container {
      .header {
        .a {
        }

        &--logo {


          &__nav {
            a {
              font-size: 15px;
              margin: 0;
              display: none;
            }
          }

          .icons {
            .a-search {
              font-size: 20px;
            }

            .a-shop {
              font-size: 20px;
            }

            a {
              font-size: 10px;
              margin: 0 29px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #header {
    .container {
      .header {
        &--logo{
          &__nav{
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 458px) {
  #header {
    .container {
      width: 90%;

      .header {
        .a {
          font-size: 30px;
        }

        .icons {
          display: flex;
          margin: 0;
        }

        &--logo {

          &__nav {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 414px) {
  #header {
    .container {
      .header {
        &--logo {
          .a{
            font-size: 23px;
          }
          &--nav {
            a {
              display: none;
            }
          }

          .icons {
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  #header{
    padding: 1px 0 !important;
    .container{
      .header{
        margin: 20px 0;
        &--logo{
          .a{}
          &__nav{

          }
        }
      }
    }
  }

}
@media (max-width: 320px) {
  #header {
    .container {
      .header {
        .a {
          font-size: 20px;
        }
      }
    }
  }
}