#newBooks {
  padding: 90px 0;

  .container {
    .newBooks {
      //display: flex;
      //flex-direction: column;
      //align-items: center;
      h1 {
        color: #19272E;
        font-weight: 500;
        font-size: 50px;
        margin-left: 40%;
      }

      &--block {
        //display: flex;
        //justify-content: space-evenly;
        width: 70%;
        margin-top: 85px;
        margin-left: 15%;

        &__book1 {
          margin: 0 32px;
          transition: .3s;

          &:hover {
            transform: translateY(-30px);
          }

          p {
            color: #19272E;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            text-transform: uppercase;
          }

          span {
            color: #3a5a69;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  #newBooks {
    .container {
      .newBooks {
        h1 {
          margin-left: 35%;
        }

        &--block {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #newBooks {
    .container {
      .newBooks {
        h1 {
          font-size: 45px;
          margin-left: 31%;
        }

        &--block {
          margin-left: 3%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #newBooks {
    .container {
      .newBooks {
        h1 {
          margin-left: 29%;
        }

        &--block {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #newBooks {
    .container {
      .newBooks {
        h1 {
          margin-left: 31%;
        }

        &--block {
          margin-left: 25%;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #newBooks {
    .container {
      .newBooks {
        h1 {
          width: 230px;
          margin-left: 35%;
        }

        &--block {
          margin-left: 27%;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #newBooks {
    .container {
      .newBooks {
        &--block {
          margin-left: 70px;
        }
      }
    }
  }
}