#newBooks {
  padding: 80px 0;

  .container {
    .newBooks {
      h1 {
        color: var(--text-color, #19272E);
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 60px;
      }

      &--block {
        display: flex;
        align-items: start;
        //justify-content: center;
        //padding-left: 200px !important;
        justify-content: center;
        image {
          width: 200px;
          height: 300px;
        }

        &__book1 {
          margin-top: 35px;

          h2 {
            margin: 8px 0 10px;
            color: var(--text-color, #19272E);
            font-size: 18px;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
            width: 200px;
          }

          p {
            color: var(--text-color, #344f5d);
            font-size: 18px;
            font-weight: 500;
          }
        }

        &__book2 {
          margin: 0 60px;

          h2 {
            margin: 8px 0 10px;
            color: var(--text-color, #19272E);
            font-size: 18px;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
            width: 200px;
          }

          p {
            font-weight: 500;
            color: var(--text-color, #344f5d);
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #newBooks {
    .newBooks {
      h1 {
        font-size: 40px !important;
      }

      &--block {
        padding-left: 35px !important;

        &__book1 {
          margin-top: 0 !important;

          h2 {
            font-size: 16px !important;
            width: 170px !important;
          }

          p {
            font-size: 17px !important;
          }

          img {
            width: 160px;
          }
        }

        &__book2 {
          h2 {
            font-size: 16px !important;
            width: 170px !important;
          }

          img {
            width: 160px;
          }

          p {
            font-size: 17px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #newBooks {
    .newBooks {
      &--block {
        overflow-x: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        &__book1 {

        }

        &__book2 {
          margin: 0 40px !important;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  #newBooks {
    .newBooks {
      h1 {
        font-size: 35px !important;
      }
    }
  }
}