#about {
  padding: 60px 0;

  .container {
    .about {
      h1 {
        font-weight: 500;
        font-size: 48px;
        text-align: center;
        color: #19272E;
      }

      &--img {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          color: #19272E;
        }
      }
    }
  }
}


@media (max-width: 1024px) {

}

@media (max-width: 992px) {
  #about {
    .container {

      .about {
        h1 {
          &--img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img {

            }

            p {

            }
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  #about {
    .container {

      .about {
        h1 {
          &--img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img {

            }

            p {
              font-weight: 400;
              font-size: 18px;
              line-height: 140%;
              color: #19272E;
              width: 400px;

            }
          }
        }
      }
    }
  }
}



@media (max-width: 576px) {
  #about {
    .container {

      .about {
        h1 {
          &--img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img {

            }

            p {

            }
          }
        }
      }
    }
  }
}


@media (max-width: 451px) {
  #about {
    .container {

      .about {
        h1 {
          &--img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img {

            }

            p {

            }
          }
        }
      }
    }
  }
}


@media (max-width: 400px) {
  #about {
    .container {

      .about {
        h1 {
          &--img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img {

            }

            p {

            }
          }
        }
      }
    }
  }
}


@media (max-width: 376px) {
  #about {
    .container {

      .about {
        h1 {
          &--img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img {

            }

            p {

            }
          }
        }
      }
    }
  }
}


@media (max-width: 320px) {
  #about {
    .container {

      .about {
        h1 {
          &--img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img {

            }

            p {

            }
          }
        }
      }
    }
  }
}
