#about{
  padding: 60px 0;
  .container{
    .about{
      h1{
        font-weight: 500;
        font-size: 48px;
        text-align: center;
        color: #19272E;
      }
      &--img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          color: #19272E;
        }
      }
    }
  }
}