@import "src/companents/Books/index";
@import "src/companents/About/index";

@import "src/companents/Genres/index";
@import "src/companents/NewBooks/index";



* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: sans-serif, 'Public Sans';
}

